[Unit]
Description=Service for starting easy-novnc server
After=wayvnc.service

[Service]
User=root
Group=root
ExecStart=easy-novnc
ExecReload=pkill -x easy-novnc
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target